<div class="container mt-5">
  <app-search-bar></app-search-bar>
  <app-header [selectedInstrument]="selectedInstrument"></app-header>
  <app-chart [selectedInstrument]="selectedInstrument"></app-chart>
  <!-- Componentes ocultos temporalmente 
  <app-tab *ngIf="false" [tabs]="['Tab 1', 'Tab 2']" [filteredContent]="['Contenido 1', 'Contenido 2']"></app-tab>
  <app-summary *ngIf="false" [selectedInstrument]="selectedInstrument"></app-summary>
  <app-instrument-list *ngIf="false" [instruments]="instruments"></app-instrument-list>
  -->
</div>
